<div class="card mb-3 mb-3 mt-3">
  <img src= "{{ articulo.Media }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title" style="color: #170c30;">
      {{ articulo.NombreArticulo }}
    </h5>
    <p class="card-text" style="color: #170c30;">
      Autor: {{ articulo.Autor }}<br>
    </p>
    <p class="card-text" style="color: #170c30;">
      <span *ngIf="!isSQL">
        Fecha: {{ articulo.Fecha}}<br>
      </span>
      <span *ngIf="isSQL">
        Fecha: {{ articulo.Fecha | date:"dd/MM/yy"}}<br>
      </span>
    </p>
    <p class="card-text" style="color: #170c30;">
      HashTags: {{ articulo.Hashtags }}<br>
    </p>
  </div>
</div>
