<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Caso 4 Bases de Datos 2 <i class="fas fa-database"></i></span>
  <button type="button" class="btn btn-danger ml-5 mr-5" (click)="clearAll()">Clear All</button>
</nav>
<div class="row mt-4 mb-4">
  <h3 class="col-3 mb-3 mt-3">Hashtag Levels</h3>
  <div class="dropdown col-3">
    <button class="btn btn-secondary dropdown-toggle mb-3 mt-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Min: {{minLevel}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(0)">0</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(1)">1</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(2)">2</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(3)">3</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(4)">4</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(5)">5</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(6)">6</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(7)">7</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(8)">8</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(9)">9</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMinLevel(10)">10</button>
    </div>
  </div>

  <div class="dropdown col-3">
    <button class="btn btn-secondary dropdown-toggle mb-3 mt-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Max: {{maxLevel}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(0)">0</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(1)">1</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(2)">2</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(3)">3</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(4)">4</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(5)">5</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(6)">6</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(7)">7</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(8)">8</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(9)">9</button>
      <button class="dropdown-item" type="button" 
      (click)="changeMaxLevel(10)">10</button>
    </div>
  </div>
  <button type="button" class="btn btn-warning mr-3 mt-3" (click)="elastic()">Search <i class="fas fa-search"></i></button>
</div>

<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
  Elastic Results
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Elastic Results</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{elasticResults}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearElastic()">Clear</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row mt-5">
  
</div>

<ul class="list-group list-group-horizontal">
  <button type="button" class="btn btn-success ml-5 mr-5" (click)="mongo()">Mongo</button>
  <button type="button" class="btn btn-success ml-5 mr-5" (click)="redisMongo()">Mongo with Redis</button>
  <button type="button" class="btn btn-info ml-5 mr-5" (click)="SQL()">SQL</button>
  <button type="button" class="btn btn-info ml-5 mr-5" (click)="redis()">SQL with Redis</button>
</ul>


<div class="row">
  <div *ngFor="let articulo of mongoResult" class="col-3">
    <app-articulo-card [articulo]="articulo" [isSQL]="false"></app-articulo-card>
  </div>
</div>

<div class="row">
  <div *ngFor="let articulo of SQLResult" class="col-3">
    <app-articulo-card [articulo]="articulo" [isSQL]="true"></app-articulo-card>
  </div>
</div>